.breadcrumb {
  background-color: #f9f9f9;
  color: #333;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
  min-height: 100%;
}

.product-name {
  margin-bottom: 10px;
}

.product-image {
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}

.premium-badge {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.product-card .price {
  font-size: 16px;
  color: #e95211;
  margin-top: 10px;
}

.card-title {
  font-weight: bold;
  transition: color 0.3s ease;
}

.card-title:hover {
  color: #e95211;
  text-decoration: underline;
}

.link-body-emphasis {
  text-decoration: none;
}
